@font-face {
    font-family: 'Latin Modern';
    font-style: sans-serif;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/cmunsx.ttf') format('truetype');
  }

.navbar {
  float: left;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: #1B1B1B; 
}

.navbar a {
  float: left;
  font-size: 16px;
  font-family: 'Latin Modern';
  color: #FAF4E1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px; 
  font-family: 'Latin Modern';
  border: none;
  outline: none;
  color: #FAF4E1;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #f63f51;
  color: #333;
}

.subnav-content {
  display: none;
  position: fixed;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: #FAF4E1;
  text-decoration: none;
  z-index: 1;
}

.subnav-content a:hover {
  background-color: #DE6A76;
  color: #333;
}

.subnav:hover .subnav-content {
  display: block;
}

.active {
  background-color: #f63f51;
}